body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.circleColor{
    background-color: #54b948;
    border-color: #54b948;
}
.circleColor:hover{
    background-color: #7ab374;
    border-color: #54b948;
}

.nextBtn{
    background-color: #5fc45299;
    border-color: #54b948;
    margin-bottom: 10px;
}

.nextBtn:hover{
    background-color: #7ab374;
    border-color: #54b948;
}

.prevBtn{
    background-color: #5fc45299;
    border-color: #54b948;
    margin-bottom: 10px;
}

.prevBtn:hover{
    background-color: #7ab374;
    border-color: #54b948;
}

.contco{
    background-color: #4da24224;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 20px 40px #959393;
}
